<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto" package="com.androidbeacon">
	<uses-sdk android:minSdkVersion="18" android:targetSdkVersion="18" />
	<application android:label="AndroidBeacon">
		<service android:enabled="true" android:exported="true" android:isolatedProcess="false" android:label="iBeacon" android:name="com.radiusnetworks.ibeacon.service.IBeaconService">
		</service>
		<service android:enabled="true" android:name="com.radiusnetworks.ibeacon.IBeaconIntentProcessor">
			<meta-data android:name="background" android:value="true" />
			<intent-filter android:priority="1">
				<action android:name="com.findthemonkey_android.DID_RANGING" />
				<action android:name="com.findthemonkey_android.DID_MONITORING" />
			</intent-filter>
		</service>
	</application>
	<uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
	<uses-permission android:name="android.permission.BLUETOOTH" />
</manifest>